<!--
<app-template [title]="'historique.title' | translate" [subtitle]="'historique.subtitle' | translate" [imageUrl]="imageUrl" [paragraph]="'historique.paragraph' | translate" [sideBarTitle]="sideBarTitle"></app-template>
-->
<div>
    <img class="Photo-Historique" src="/assets/images/atelier.jpeg"/>
</div>
<body>
<div id="wrapper">
  <div class="logo" id="CCAK-Historique">
    <div class="card-body">
      <img src="/assets/images/ccak-logo-3.png" alt="..."/>
      <h1 class="green-title-underlined">            {{'historique' | translate}}</h1>
    </div>
  </div>

  <div class="heading">
    <p id="heading_text">{{'universite.histoire.header.text' | translate}}</p>
  </div>

  <br>
  <div id="container">
    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #f7f7f7;">
          <strong class="card-title" ><u>05 /02/2018</u></strong>
          <div class="card-body">
            {{'universite.histoire.line1_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #f7f7f7;">
          <strong class="card-title"><u>08/02/2018</u></strong>
          <div class="card-body">
            {{'universite.histoire.line1_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #dbd1d1;">
          <strong class="card-title"><u>20/04/2018</u></strong>
          <div class="card-body">
            {{'universite.histoire.line2_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #dbd1d1;">
          <strong class="card-title"><u>05/12 2018</u></strong>
          <div class="card-body">
            {{'universite.histoire.line2_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #aca2a2;">
          <strong class="card-title"><u>10/03/2019</u></strong>
          <div class="card-body">
            {{'universite.histoire.line3_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #aca2a2;">
          <strong class="card-title"><u>05/05/2019</u></strong>
          <div class="card-body">
            {{'universite.histoire.line3_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #9d9696;">
          <strong class="card-title"><u>13/10/2019</u></strong>
          <div class="card-body">
            {{'universite.histoire.line4_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #9d9696;">
          <strong class="card-title"><u>25/01/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line4_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #a7d9c0;">
          <strong class="card-title"><u>22/03/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line5_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #a7d9c0;">
          <strong class="card-title"><u>24/03/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line5_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #7fd5aa;">
          <strong class="card-title"><u>30/03/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line6_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #7fd5aa;">
          <strong class="card-title"><u>19/04/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line6_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #47de93;">
          <strong class="card-title"><u>14/05/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line7_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #47de93;">
          <strong class="card-title"><u>31/05/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line7_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #2daf6e;">
          <strong class="card-title"><u>01/06/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line8_1.paragraphe' | translate}}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card" style="background-color: #2daf6e;">
          <strong class="card-title"><u>19/07/2020</u></strong>
          <div class="card-body">
            {{'universite.histoire.line8_2.paragraphe' | translate}}
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12">
        <div class="card" style="background-color: #0d763c;">
          <h5 class="card-title"><u>25/09 2020</u></h5>
          <div class="card-body">
            {{'universite.histoire.line9.paragraphe' | translate}}          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</body>
