
@mixin tablet-and-up {
  @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
  @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
  @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
  @media screen and (max-width: 600px) { @content; }
}
@media only screen and (max-width: 768px) {
  #CCAK-Offre { display: contents; }
  #heading_title {text-decoration: underline;}
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

#wrapper {
  margin:10px auto;
  max-width: 80em;
  align-content: center;
}

#container {
  padding-top: 3%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  padding: 3rem 0;
}

h1{
  font-size: 1.1rem;
  font-family: sans-serif;
}

p{
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}

.green-title-underlined{
  color: #38674f;
  font-weight: bold;
  font-size: 35px;
  padding-top: 50px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #38674f;
  text-decoration-thickness: 4px;
}

.Photo-Offres {
  width: 100%;
  height: 407px;
  border: solid 1px #707070;
  z-index: -1;
}

#CCAK-Offre {
  width: 65%;
  margin: -12% 0% 0 0%;
  border-radius: 13px;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.97) 47%, #fff);
  position: absolute;
}

.heading {
  padding : 15% 0 0 0;
}

#heading_text {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  color: #38674f;
}

#heading_title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #3b7157;
}


.card-body-header {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  text-align: center;
}