<div class="container">
  <div class="wrapper">
    <h1>Nouvelles</h1>
    <hr>
    <img src="/assets/mosque.jpg" class="pull-right mr-2" alt="..."/>
    <p>je prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeu je prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeuje prpeproprhfbrehgeo fezhfgzeifh fezifuyzefgif fegeziufzegfiezg fezgfiugefygezpfez fygzeiyfez
      fezgufgzeuçfgeziyf fiegzfyeyfgezçuf ezfzeu
    </p>

  </div>
</div>
