

<body>

  <div id="wrapper">
    <div class="card">
      <div class="card-body">
        <img src="/assets/images/ccak-logo-2.ico" alt="..."/>
        <h1 class="green-title-underlined">ORGANIGRAMME</h1>
      </div>
    </div>

    <div id="container">
      <h1 style="">FORMATIONS</h1>
      <ol class="organizational-chart">
        <li>
          <div id="recteur" class="card" style="background-color: #3b7257">
            <strong>Recteur</strong>
            <br>Monsieur xxxxxx
          </div>
        </li>
        <li>
          <div id="vice-president" class="card" style="background-color: white;color: #3b7257">
            <strong>Vice président</strong>
            <br>Monsieur xxxxxx
          </div>
          <div id="president" class="card" style="background-color: white;color: #3b7257">
            <strong>Président</strong> <br>Monsieur xxxxxx
          </div>
          <div id="sg" class="card" style="background-color: white;color: #3b7257">
            <strong>Secrétaire général</strong> <br>Monsieur xxxxxx
          </div>
          <ol>
            <li>
              <div id="vie-institutionnelle" class="card" style="background-color: white;color: #3b7257">
                <strong>Pôle «Vie institutionnelle et affaires générales»</strong>
              </div>
              <ol>
                <li>
                  <div id="communication" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction de la communication</strong>
                    <br><br>Monsieur xxxxxx <br>Monsieur aaaaa
                  </div>
                </li>
                <li>
                  <div id="juridique" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction des affaires juridiques</strong>
                    <br><br>Monsieur XXX XXX <br>Madame XXX XXX
                  </div>
                </li>
              </ol>
            </li>
            <li>
              <div id="ressources" class="card" style="background-color: white;color: #3b7257">
                <strong>Pôle «Ressources»</strong>
              </div>
              <ol>
                <li>
                  <div id="finance" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction des affaires financières<br>(D.A.F)</strong>
                  </div>
                  <ol>
                    <li>
                      <div id="s-budget" class="card" style="background-color: white;color: #3b7257">
                        <strong>Service budget</strong>
                        <br><br><strong>Chef de service</strong>
                        <br>Monsieur XXX XXX
                      </div>
                      <ol>
                        <li>
                          <div id="s-recette" class="card" style="background-color: white;color: #3b7257">
                            <strong>Service recettes et subventions</strong>
                              <br><br>Monsieur RRRRRR
                              <br>Monsieur SSSSSS
                          </div>
                        </li>
                        <li>
                          <div id="s-depenses" class="card" style="background-color: white;color: #3b7257">
                            <strong>services de dépenses communes et missions</strong>
                              <br><br>Monsieur DDD DDD
                              <br>Madame CCC CCC
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>
                  <div id="drh" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction des Ressources Humaines (D.R.H)</strong>
                  </div>
                  <ol>
                    <li>
                      <div id="developpement-rh" class="card" style="background-color: white;color: #3b7257">
                        <strong>Pôle «développement RH»</strong>
                        <br><br><strong>Directrice</strong>
                        <br>Madame yyy yyy
                      </div>

                      <ol>
                        <li>
                          <div id="bureau-formation" class="card" style="background-color: white;color: #3b7257">
                            <strong>Bureau de formation et de développement des compétences</strong>
                            <br><br><strong>Chef de bureau</strong>
                            <br>Monsieur xxxxx
                          </div>
                        </li>
                        <li>
                          <div id="bureau-recrutement" class="card" style="background-color: white;color: #3b7257">
                            <strong>Bureau de recrutement</strong>
                            <br><br><strong>Chef de bureau</strong>
                            <br>Monsieur xxxxx
                          </div>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <div id="gestion-personnels" class="card" style="background-color: white;color: #3b7257">
                        <strong>Pôle «Gestion des personnels»</strong>
                        <br><br><strong>Directrice</strong>
                        <br>Madame yyy aaa
                      </div>

                      <ol>
                        <li>
                          <div id="s-enseignants" class="card" style="background-color: white;color: #3b7257">
                            <strong>Service de gestion des personnels enseignants</strong>
                            <br><br><strong>Chef de service</strong>
                            <br>Monsieur xxxxx
                          </div>
                          <ol>
                            <li>
                              <div id="bureau-enseigants-vaccataires" class="card" style="background-color: white;color: #3b7257">
                                <strong>Bureau des personnels enseignats et vaccataires</strong>
                                <br><br><strong>Chef de bureau</strong>
                                <br>Monsieur xxxxx
                              </div>
                            </li>
                            <li>
                              <div id="bureau-retraite" class="card" style="background-color: white;color: #3b7257">
                                <strong>Bureau de retraite</strong>
                                <br><br><strong>Chef de bureau</strong>
                                <br>Monsieur xxxxx
                              </div>
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              <div id="patrimoine" class="card" style="background-color: white;color: #3b7257">
                <strong>Pôle «Patrimoine et Innovation</strong>
              </div>
              <ol>
                <li>
                  <div id="dsi" class="card" style="background-color: white;color: #3b7257">
                    <strong>DSI</strong><br>Monsieur xxx xxx
                  </div>
                </li>
                <li>
                  <div id="projets" class="card" style="background-color: white;color: #3b7257">
                    <strong>Grands projets</strong>
                    <br><br>Monsieur XXX XXX   <br>Madame XXX XXX
                  </div>
                </li>
                <li>
                  <div id="reprographie" class="card" style="background-color: white;color: #3b7257">
                    <strong>Services intérieurs et reprographie</strong>
                    <br>
                    <br><strong>Chef de service</strong>
                    <br>Monsieur XXX XXX
                  </div>
                </li>
              </ol>
            </li>
            <li>
              <div id="academique" class="card" style="background-color: white;color: #3b7257">
                <strong>Pôle «Académique et vie universitaire»</strong>
              </div>
              <ol>
                <li>
                  <div id="recherche-valorisation" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction de la recherche et de la valorisation</strong>
                    <br>
                    <br><strong>Chef de direction </strong>
                    <br>Monsieur XXX XXX
                    <br>
                  </div>
                </li>
                <li>
                  <div id="relation-exterieurs" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction des relations exterieurs et du développement intelnational</strong>
                    <br>
                    <br><strong>Chef de direction </strong>
                    <br>Monsieur XXX XXX
                    <br>
                  </div>
                </li>
                <li>
                  <div id="etudes" class="card" style="background-color: white;color: #3b7257">
                    <strong>Direction des études et de la vie étudiante</strong>
                  </div>
                  <ol>
                    <li>
                      <div id="scolarite" class="card" style="background-color: white;color: #3b7257">
                        <strong>Service scolarité</strong>
                        <br> <strong>Chef de service</strong>
                        <br> Monieur xxxxxx<br>
                      </div>
                    </li>
                    <li>
                      <div id="insertion-professionnelle" class="card" style="background-color: white;color: #3b7257">
                        <strong>Mission d'appui à l'insertion professionnelle</strong>
                        <br><br> Monieur xxxxxx
                      </div>
                    </li>
                    <li>
                      <div id="handicap" class="card" style="background-color: white;color: #3b7257">
                        <strong>Mission handicap</strong>
                        <br><br>Monsieur AAA
                        <br>Madame AAA
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</body>
