
footer {
  background-color: #193660;
  padding-top: 2.85em;
  //padding-bottom: 2.85em;
  overflow: hidden;
}

.copyright {
  padding-top: 2.85em;
  overflow: hidden;
  padding-bottom: 2.85em;
  background-color: #10294d;
}


a:hover{

  text-decoration: underline;

}

li > a {
  padding-bottom: .75em;

}

.fa {
  font-size: 1.2em;
  padding-left: .4em;
  padding-right:5px
}

.bg-light {
  background-color: #181d1b !important;
}

.text-dark {
  color: white !important;
}

.mb-4, .foot2 {
  color: white !important;
}
a {
  color : white !important;

  text-decoration: none;
}

ul {

  display: inline;
  text-align: left;
}

.tel {
  text-align: left;
}

.social {
  text-align: left;
}

li {
  padding-bottom: .75em;
}

h2 {
  text-align: left;
  font-family: "Clarke", Arial, serif;
  font-size: 1.375em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 0 0 1.5em 0;
  margin: 0;
}

.hr-lines {
  width: 90px;
  margin-top: 0;
  height: 0;
  //margin: 0 0 10px 15px;
  border: solid 1px #fff;
}

.bg-dark {
  background-color: #181d1b !important;
}
.form-control {
  border: 0;
}

.Restons-connecter {
  width: 226px;
  height: 35px;
  font-family: Poppins, serif;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Inscrivez-vous-notre-newsletter {
  width: 273px;
  height: 20px;
  font-family: Arial, serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
//new footer Rectangle-23
.email-newsletter {
  height: 64px;
  padding: 25px 14px 19px 72px;
  background-color: #10294d;
}

.envoyer {
  width: 100px;
  height: 64px;
  font-family: Arial, serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  background-color: #38674f;
  border: 0;

}

.universite-touba,.Accessibilite, .Directives, .Politique-de-confidentialite {
  font-family: Arial, serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #fff;
}

.ccak-logo {
  width: 217px;
  height: 82px;
}

.Nous-contacter {
  width: 183px;
  height: 32px;
  font-family: Poppins, serif;
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.contacts{
  font-family: Arial, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.phone, .envelope{
  margin-left: 5px;
}
.reseaux-sociaux{
  text-align: left;
}

.elements-vie-campus, .elements-cooperation {
  width: 125px;
  height: 16px;
  font-family: Arial, serif;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 20px;
}


.suivez-nous {
  width: 120px;
  height: 32px;
  font-family: Poppins, serif;
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.responsive{
  width: 617px;
  height: 363px;
  margin: auto;
  border: 0;
}
.infos-impotrtantes{
  margin-left: 25px;
}

@media (min-width:  768px){
  .mb-md-4{
    justify-content: center;
    margin: auto;
  }
  .col-md-8 {
    width: auto;
    justify-content: center;
  }
  .mb-md-0, .col-md-6{
    margin: auto;
  }
  .Vie-campus, .maps-ifram{
    width: auto;
  }
  .elements-vie-campus{
    height: auto;
  }
  .infos-impotrtantes{
    margin: auto;
  }

}
@media (width: 414px) {
  .col-vie-campus{
    margin-bottom: 50px;
  }
}

@media (width: 375px) {
  .Vie-campus{
    width: 138px;
  }
}
