<footer class="text-center text-white mx-0" xmlns="http://www.w3.org/1999/html">
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row pb-4">
      <!--Grid column-->
      <div class="col-lg-5 offset-1 col-md-6 mb-md-0">
        <div class="Restons-connecter">{{'footer.restons-connectes' | translate}}</div> <hr class="hr-lines"/>
        <div class="Inscrivez-vous-notre-newsletter">{{'footer.inscrivez-vous' | translate}}</div>
      </div>
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="input-group">
          <input type="text" class="form-control email-newsletter" placeholder="{{'email' | translate}}: exemple@gmail.com" aria-label="Your email">
          <div class="input-group-append">
            <span class="input-group-text envoyer">{{'button.envoyer' | translate}}</span>
          </div>
        </div>

      </div>
      <!--Grid column-->
      <hr class="mt-4">
    </div>
    <!--Grid row-->
    <div class="row mb-md-4 py-2">
      <div class="col-md-4 maps-ifram mx-0">
        <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.0817916435485!2d-15.875944473760766!3d14.86297317457896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xeea4a1e048339a1%3A0xa6893b6e468484a5!2sGrande%20Mosqu%C3%A9e%20de%20Touba!5e0!3m2!1sfr!2sfr!4v1634564363984!5m2!1sfr!2sfr"  allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="col-md-8 mb-4">
        <div class="row text-center">
          <img src="assets/images/ccak-logo-1.png" class="mx-auto d-block ccak-logo text-center py-2" alt="ccak-logo">
        </div>
        <div class="row infos-impotrtantes">
          <div class="col">
            <div class="Nous-contacter">{{'footer.nous-contacter' | translate}}</div><hr class="hr-lines"/>
            <div class="contacts">
              <a>
                <i class="fa fa-phone"><span class="phone">+221 33 822 59 60</span></i>
              </a>
              <a>
                <i class="fa fa-envelope-open"><span class="envelope"> contacts@ccak.com</span></i>
              </a>
            </div>
          </div>
          <div class="col">
            <div class="suivez-nous">{{'footer.suivez-nous' | translate}}</div><hr class="hr-lines"/>
            <div class="reseaux-sociaux">
              <!-- Facebook -->
              <a href="{{getLinkSocialNework('facebook')}}" target="_blank">
                <i class="fa fa-facebook-f"></i>
              </a>

              <!-- Twitter -->
              <a href="{{getLinkSocialNework('twitter')}}" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>

              <!-- Google -->
              <a href="{{getLinkSocialNework('youtub')}}" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>

              <!-- Instagram -->
              <a>
                <i class="fa fa-instagram"></i>
              </a>

              <!-- linkedin -->
              <a>
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-4 universite-touba">© 2021 - {{'footer.univ-touba' | translate}}</div>
    <div class="col-md-2"><a href="#" class="Accessibilite">{{'footer.accessibilite' | translate}}</a></div>
    <div class="col-md-2"><a href="#" class="Directives">{{'footer.directives' | translate}}</a></div>
    <div class="col-md-3"><a href="#" class="Politique-de-confidentialite">{{'footer.politique' | translate}}</a></div>
  </div>
</footer>
