<header>
  <div class="navigation"
  #stickyMenu
  [class.sticky] = "sticky">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="col-3 col-md-3 col-lg-2 logo">
        <a routerLink="/accueil"><img class="img-responsive" src="/assets/images/ccak-logo-1.png"/></a>
      </div>
        <button (click)="showNav = !showNav" bg-light class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hide"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
      <div class="col-1 col-md-3 col-lg-7 collapse navbar-collapse" id="navbarSupportedContent" [hidden]="!showNav">
        <ul class="navbar-nav nav navbar-center">
          <li class="nav-item active">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/accueil">{{ 'accueil' | translate }} <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ 'universite' | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/universite/presentation">{{ 'presentation' | translate }}</a>
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/universite/organigramme">{{ 'organigramme' | translate }}</a>
              <!--div class="dropdown-divider">Historique</div>
              <a class="dropdown-item" href="#">Composantes</a-->
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/universite/histoire">{{ 'historique' | translate }}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ 'formation' | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/formation/offre-formation">{{ 'formation.offre-formation' | translate }}</a>
              <a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/formation/admission">{{ 'formation.admission' | translate }}</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/faculte">{{ 'facultes' | translate }} </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/bibliotheque">{{ 'bibliotheque' | translate }} </a>
          </li>
        </ul>
      </div>
      <div class="col-10 col-md-6 col-lg-3">
        <div class="row right" id="row">
          <div class="col-lg-3 col-3 right-item">
            <div class="item select-item">
              <select #langSelect  (change)='useLanguage(langSelect.value)'>
                <option value="ar" id="ar">{{ 'العربية' | translate }}</option>
                <option value="en" id="en">{{ 'English' | translate }}</option>
                <option value="fr" id="fr">{{ 'Français' | translate }}</option>

              </select>
            </div>
          </div>

          <div class="col-lg-4 col-3 right-item search px-2">
            <div class="item">
              <form (ngSubmit)="handleSubmit($event)" >
                <input placeholder="{{ 'recherche' | translate }}" minlength="3"
                name="entry" [(ngModel)]="entry" (keyup)="handleKeyUp($event)"/>
                <!-- <button type="submit">Submit</button> -->
              </form>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>
  <div class="search-block border border-secondary" [class.active]="toggleSearch" [style.display]="isVisible ? 'block' : 'none'">
    <div class="flex-row d-flex">
      <span class="search-icon disabled">
        <i class="fa fa-search"></i>
      </span>
      <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>
      <span class="close-icon">
        <i class="fa fa-close" (click)="searchClose()"></i>
      </span>
    </div>
  </div>
</header>
