header {
    background-color: #3b7257 !important;
    //height: 100px;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }

.right{
    height: 96px;
    text-align: center;
}

.logo{
    padding-left: 25px;
}

.right-item{
    height: 100%;
    padding: 0;
    margin: 0;
}

.item{
    background-color: #386750;
    padding: 35px 0 0 0;
    height: 100%;
    margin: 0;
}

.nav-icon{
    display: none;
    min-height: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.search{
    color: white;
    font-size: 11px;
}

.top {
    position: relative;
    background-color: #3b7257 !important;
}

img {
    width: 122.1px;
    height: 46.1px;
}

select {
    background-color: #386750;
    border: none;
    color: #ffffff;
    font-size: 11px;
}


button:focus {
    outline:none;
    color: #386750;
    border-width: 0;
}

.fa {
    width: 17.5px;
    height: 17.5px;
    color: #ffffff;
}

.fa-user {
    display: none;
}

.top-right {
    display: inline;
}

.top-right-li {
    width: 100%;
}

.navbar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

.navbar-light .navbar-nav .nav-link {
    height: 46px;
    color: white;
    font-size: 1vw;
    text-decoration: none;
    display: table-cell;
    margin: 0;
    padding: 0 2px;
    text-align: center;
    vertical-align: middle;
}

.nav-item {
    padding: 25px 15px;
}

.navigation {
    background-color: #3b7257 !important;
}

.netLangue {
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.hideConLang {
    margin: 5px;
}


.container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    color: white;
    background-color: #3b7257 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    font-size: 1vw;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: #3b7257 !important;
}

.dropdown-backdrop{
    position: static;
}


.search-block{
  width: 0;
  right: 0;
  background: #fff;
  &.active{
    width: 100%;
  }
  .search-control{
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}
.search-icon > i{
  color: #4f4f4f;
}
.close-icon > i{
  color: #4f4f4f;
}

@media screen and (max-width: 992px) {
    .nav-icon{
        display:block;
    }

    .menu-options{
        display: none;
    }

    .hideConLang {
        display: none;
    }

    .right-menu-text{
        display: none;
    }

    .menu-options{
        display: none;
    }

    .right-menu-text{
        display: none;
    }

    .item{
        padding-top: 28px;
        text-align: center;
    }

    .fa {
        font-size: 35px;
    }

    .fa-user{
        display:block;
        margin-right: 10px;
        padding-top: 2px;
    }

    .fa-search{
        margin-right: 0px;
        padding: 2px 40px 20px 0;
    }

    button{
        border: none;
        outline: none;
    }
    button:focus {outline:none;}


    .fa-bars{
        padding-right: 40px;

    }

    .select-item{
        padding-top: 37px;
        font-size: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        height: 30px;
        font-size: 14px;
        padding: 0 2px;
    }

    .nav-item {
        padding: 10px;
    }

    .dropdown-item {
        font-size: 12px;
    }

    .search-icon .fa-search{
        font-size: 15px;
    }

    .close-icon .fa-close{
        font-size: 15px;
    }
}


@media (max-width: 512px) {
    img {
        width: 80.1px;
        height: 26.1px;
    }

    .right{
        height: 76px;
        text-align: center;
    }

    .item{
        padding-top: 25px;
        text-align: center;
    }

    .fa {
        font-size: 25px;
    }

    .fa-user{
        margin-right: 0px;
        padding-top: 2px;
    }

    .fa-search{
        margin-right: 0px;
        padding-left: 10px;
        padding-top: 2px;
    }

    .fa-bars{
        margin-left: 5px;
    }

    .select-item{
        padding-top: 29px;
        font-size: 15px;
    }

    .logo{
        padding-left: 15px;
        padding-bottom: 10px;
    }

    .navbar-light .navbar-nav .nav-link {
        height: 26px;
        font-size: 13px;
        padding: 0 2px;
    }

    .nav-item {
        padding: 5px;
    }

    .dropdown-item {
        font-size: 11px;
    }
}

@media only screen and (max-width: 340px) and (min-width: 100px)  {
    .fa {
        font-size: 10px;
    }

    .logo {
        display: none;
    }

    .item{
        padding-top: 25px;
        text-align: center;
    }

    .search{
        padding: 0;
        margin: 0;
    }

    .select-item{
        font-size: 10px;
    }

}
