<div class="container">
  <div class="wrapper">
    <h1>Masters</h1>
    <hr>
    <img src="/assets/mosque.jpg" class="pull-right mr-2" alt="..."/>
    <p>Contenu à venir !!!!
    </p>

  </div>

  <div class="wrapper">
    <h1>Doctorat</h1>
    <hr>
    <img src="/assets/mosque.jpg" class="pull-right mr-2" alt="..."/>
    <p>Contenu à venir !!!!
    </p>

  </div>
</div>
