<div id="caroussel" class="container">
  <img src="assets/images/bibliotheque.png" class="d-block w-100" alt="">
  <div class="trapeze top-left">
    <p id="texte1">{{'home.big-title' | translate}}</p>

    <p id="texte2">{{'home.text' | translate}}</p>

      <button type="button" id="buttonDevouvrir" class="btn btn-outline-success mb-2">{{'button.decouvrir' | translate}}</button>
  </div>
</div>