.card-group {

  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7f0eb;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  min-width: 100%;
}

.trapeze{
  width: 60% ; height: 0px ;
  top: 0px;
  border-top: 800px solid white;
  border-right: 100px solid transparent ;
  position: absolute;
}

.container{
  position: relative;
}

.d-block{
  margin-left:100px;
}

#caroussel {
  z-index: -1;
}

#texte1 {
  width: 659px;
  height: 345px;
  margin-top: 0px;
  font-family: SFProDisplay;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: -800px;
}

#texte2 {
  width: 445px;
  height: 107px;
  margin: 86px 214px 27px 85px;
  font-family: SFProDisplay;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 0px;
  margin-top: -10%;
}

#buttonDevouvrir {
  margin-top: 5%;
}

.card {

  border: 1px solid #f0f3ef;

  justify-content: center;
  background: white
}

.newsTitle {

  display: block;
  background-color: #268249;
  width: 100%;
  padding: 16px 20px 20px 20px;
  color: #ffffff;
  font-size: 1.6em;
  margin: 0px;
  margin-bottom: 16px;


}

.card-footer {

  background: #e7e8e8;
  font-weight: bold;
  color: #343433;
  border-radius: 0;
  margin: 15px !important;
  padding: 16px 20px 20px 20px;
  width: calc(100% - 30px);
  text-align: left;
  font-size: 0.9em;
  border: 1px solid #cccccc;
  display: block;
  padding-bottom: 0;
  min-height: 60px;

}

.evenement {
  float: none;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 50px
}

.card-body {

  color: #268249;
  margin-bottom: 30px;
  color: #268249;
  text-decoration: underline;
  font-size: inherit;
  display: block;
  width: calc(100% - 40px);
  font-weight: bold;
}

.event-content {

  height: auto;
  margin-top: 0px;
  padding-bottom: 0px;
  position: relative;
  max-width: 100%;


}

.eventBoxWrapper {

  display: table-cell;
  vertical-align: middle;
}

.eventDate {

  display: inline-block;
  float: left;
  height: 76px;
  width: 76px;
  background: none repeat scroll 0 0 #268249;
  ;
  color: #FFFFFF;
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 5px 10px 5px 0;
  padding: 10px 6.5px;
  text-align: center;
  text-transform: uppercase;
}

.day {
  font-size: 1.3em;
}

.eventTitle {
  color: #268249;
  /* font-size: 1.2em; */
  margin-top: 20px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.year {
  font-size: 1em;
}





.admission {

  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 10px
}

.adm {

  border-left: 2px solid #268249;
  padding: 0 1.25em !important;
  margin: 0 !important;

}

.explore {

  float: none;
  margin-top: 3em;
  margin-bottom: 3em;

}

#title {


    color: #268249;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

.abutton {
  background: #268249;
  float: right;
  font-size: 16px;
  font-size: 1rem;

  text-align: center;
  padding: 25px;

  margin: 0;
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.separate {
  width: 1267px;
}

.visite {
  margin-top: 100px;
  margin-bottom: 50px
}


.programmes-admission {
  padding: 0.5rem 0.5rem 0rem;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.programmes-admission__box {
  background: #edefe9;
  padding: 2.5rem 2rem 2.5rem;
  flex-basis: calc(25% - 1rem);
  margin: .5rem .5rem;
}

.programmes-admission__box h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25rem;
}


.programmes-admission__title  > a{
  color: #268249;
  margin: 0 0 5px;
}

.programmes-admission__box .programmes-admission__txt {
  line-height: 1.5rem;
  min-height: 2rem;
}

.programmes-admission__box p {
  margin: 0 0 .55rem;
}

a.bouton,
a.bouton-transparent-large {
  color: #fff;
  background: #268249;
  border-radius: 4px;
  border: 0 none;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.45;
  text-align: center;
  padding: 9px 31px;
  min-width: 40px;
  position: relative;
  display: inline-block;
  transition: all 0.25s ease-out;
}

.programmes-admission__box.special_box {
  background-color: #fff;
  border: 0.0625rem solid #c7c7c7;
  padding: 2rem;
}

.program {
  max-width: 100%;
}

.special_box ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-indent: -1.85em;
}

.special_box ul {
    margin: 0;
    padding: 0 0 0 1.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.special_box ul li a {
    color: #268249;
}

.programmes-admission__box.special_box ul li:before {
    color: #454545;
    content: "\e87b";
    display: inline-block;
    font-family: "";
    font-size: 1.25rem;
    margin-right: 0.6em;
    text-align: center;
    vertical-align: text-top;
    width: 1rem;
    position: relative;
    text-indent: -1em;
    padding-left: 1em;
}




section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services h2 {
    margin: 80px 0px 40px;
    color: #268249;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  section #services li div {
    width: 120px;
    height: 120px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #268249;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }
  .credits a {
    display: block;
    text-align: center;
    color: #74d4b3;
    text-decoration: none;
    font-size: 24px;
    margin-top: 50px;
    background: white;
    padding: 20px;
    max-width: 300px;
  }

  .actu-evn-title{
    color: #38674f;
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
  }

  .green-title-underlined{
    color: #38674f;
    font-weight: bold;
    font-size: 35px;
    padding-top: 50px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #38674f;
    text-decoration-thickness: 4px;
  }

  .formations-subtitle{
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #141414;
  }

  .ectu-evn-row1-col1, .formations-row1-col3{
    background-color: black;
    padding: 5%;
  }

  .formations-row1-col1, .formations-row2-col1{
    background-color: #e8e8e8;
    padding: 5%;
  }

  .ectu-evn-row1-col1 h1, .formations-row1-col3 h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
  }

  .formations-row1-col1 h1, .formations-row2-col1 h1{
    color: #141414;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
  }

  .ectu-evn-row1-col1 p, .formations-row1-col3 p{
    color: gainsboro;
  }

  .formations-row1-col1 p, .formations-row2-col1 p{
    color: #38674f;
  }

  .actu-evn-img, .formations-img{
    padding: 0px;
  }

.actu-evn-exam1 {
  background-color: #36433d;
  padding: 25%;
}

.exam-badge{
  float: right;
}
.actu-evn-exam1 i{
  color: white;
  font-weight: normal;
}

.actu-evn-exam1 h3 {
  color: white;
  font-weight:bold;
}

.actu-evn-exam2 {
  background-color: white;
  padding: 25%;
}

.actu-evn-exam2 i{
  color: #3b7257;
  font-weight: normal;
}

.actu-evn-exam2 h3 {
  color: #3b7257;
  font-weight:bold;
}

.actu-evn-row2-col1, .formations-row2-col3{
  background-color: #3b7257;
  padding: 5%;
}

.actu-evn-row2-col1 h1, .formations-row2-col3 h1{
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px
}

.actu-evn-row2-col1 p, .formations-row2-col3 p{
  color: gainsboro;
}



@media only screen and (max-width: 768px) {
    .special_box {
        display: none;
    }
    .trapeze {
      width :55%;
    }
    #texte1 {
      width: 659px;
      height: 345px;
      margin-top: 0px;
      font-family: SFProDisplay;
      //font-size: 10px;
      font-size: 7px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-top: -800px;
    }
    #texte2 {
      width: 445px;
      height: 107px;
      margin: 86px 214px 27px 85px;
      font-family: SFProDisplay;
      //font-size: 8px;
      font-size: 6px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-left: 0px;
      //margin-top: -200%;
      margin-top: -300px;
    }
    #buttonDevouvrir {
      //margin-top: -60%;
      margin-top: -50px;
    }
  }


  @media only screen and (max-width: 500px) {
    .programmes-admission__box {
        min-width: 100%;
    }
  }
