<div class="container">
  <div class="wrapper">
    <h1>Licences</h1>
    <hr>
    <img src="/assets/mosque.jpg" class="pull-right mr-2" alt="..."/>
    <p>Contenu licence à venir !!!!
    </p>

  </div>
</div>
