
<!-- <body>
    <div id="wrapper">
      <div class="card">
        <div class="card-body">
          <img src="/assets/images/ccak-logo-vert.png" alt="..."/>
          <h1 class="green-title-underlined">{{'formations.offre' | translate}}</h1>
          <div class="prez-content" [innerHTML]="'formations.offre.paragraphe' | translate">
          </div>
        </div>
      </div>
    </div>
    
    </body> -->
    

    <!--
<app-template [title]="'historique.title' | translate" [subtitle]="'historique.subtitle' | translate" [imageUrl]="imageUrl" [paragraph]="'historique.paragraph' | translate" [sideBarTitle]="sideBarTitle"></app-template>
-->
<div style="text-align: center;">
  <img class="Photo-Offres" src="/assets/images/amphi_1000.jpg" />
</div>
<body>
<div id="wrapper">
<div class="logo card-body-header" id="CCAK-Offre">
  <div class="card-body">
    <img src="/assets/images/ccak-logo-3.png" alt="..."/>
    <h1 class="green-title-underlined"> {{'formation.admission.criteres' | translate}}</h1>
  </div>
</div>

<div class="heading">
</div>

<br>
<div id="container">

  <div class="row">
    <div class="col-12">
      <div class="card" style="background-color: #f7f7f7;font-size: 18px;">
        <div class="prez-content" [innerHTML]="'formation.admission.paragraphe' | translate"> </div>
      </div>
    </div>
  </div>

</div>
</div>

</body>
