<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Accè privé</h3>
      </div>
      <div class="shadow-lg p-3 bg-white">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
              placeholder="identifiant"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
              placeholder="mot de passe"
            />
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox" />Se souvenir
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn float-right login_btn">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Connexion
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          <a href="#">Mot de passe oublié ?</a>
        </div>
      </div>
    </div>
  </div>
</div>
