.container {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 100%;
  align-content: center;

  .card {
    height: 330px;
    margin-top: auto;
    border: none;
    margin-bottom: auto;
    width: 500px;
    background-color: #181d1b !important;
  }

  .card-header h3 {
    color: white;
  }

  .input-group-prepend span {
    width: 40px;
    border: 1px #268249;
    background-color: #268249;
    color: black;
  }

  input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
  }

  .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
  }

  .login_btn {
    color: white;
    background-color: #268249;
    width: 150px;
  }

  .login_btn:hover {
    color: white;
    background-color: green;
  }

  .links {
    color: white;
  }

  .links a {
    margin-left: 4px;
    color: white;
  }
  i {
    color: white;
  }
}
