.img-fluid {

  width: 100%
}

.section {
  margin-top: 7%;
  margin-bottom: 7%;
  border: 1px solid #000000;
  text-align: left;


}

@media screen and (max-width : 600px) {
  .section {

    margin-top: 7%;
    margin-bottom: 7%;
    border-bottom-width: 1px;
    border-color: rgb(203, 203, 211);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}


.section .row .col-md-6{

  margin-right: -2%;
  padding: 5%;
  padding-bottom: 0;
  margin-bottom: 2em;


}

span {
  color :#268249;
}


.section h3{

  color: #40474f;
  font-weight: bold;

}
.section p{
  margin-top: 10%;
  color: #545b62;
}
.section img
{
  width: 100%;
}





.department {

  margin-right: -2%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 5%
}

.department-header a {
  text-decoration: none;
}
.department-header h4 {

  color: #268249 !important;
  background-color: #ffffff !important;
  background: none !important;
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px


}

.department-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 10px;
}

.link_wrapper{
  position: relative;
}


.icon{
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #268249;;
  transition: all .35s;
}

@media (min-width: 992px) {
  p.texte70 {
    margin-left: 30%;
  }
}


p.texte70 {
  margin-left: 10%;
  font-size: 1.12em;
  font-weight: 300;
}


@media   (max-width: 549px) {
  .textHeader {

    display: none


  }
}


.home-image {
  width:100%;
}

.home-title{
  color: #2a6f9a;
}
