<div class="site-wrap">

  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <div class="home-title">
          <h1>{{title}}</h1>
          <p>{{subtitle}}</p>
        </div>
      </div>

    </div>


    <div class="row mt-5 mb-3">
      <div class="col-md-8">
        <div class="row">
          <img src="{{imageUrl}}" class="home-image" alt="..."/>
        </div>
        <div class="row mt-4 text-justify" [innerHTML]="paragraph">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="home-title">{{'sidebar.title' | translate }}</h5>

        <a href="#" class="home-title">{{'sidebar.lien1' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien2' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien3' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien4' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien5' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien6' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien7' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien8' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lien9' | translate }}</a>/ PDF<br>
        <a href="#" class="home-title">{{'sidebar.lienUtiles' | translate }}</a><br>
        <ul>
          <li><a href="#" class="home-title">{{'sidebar.lienUtiles1' | translate }}</a></li>
          <li><a href="#" class="home-title">{{'sidebar.lienUtiles2' | translate }}</a></li>
          <li><a href="#" class="home-title">{{'sidebar.lienUtiles3' | translate }}</a></li>
          <li><a href="#" class="home-title">{{'sidebar.lienUtiles4' | translate }}</a></li>
        </ul>
        <span class="home-title">{{'sidebar.contact' | translate }}</span><br>
        <div>
          <p><b>{{'sidebar.contact1' | translate }}</b> <br>{{'sidebar.contact2' | translate }}</p>
        </div>
        <span class="home-title">{{'sidebar.motCles' | translate }}</span><br/>
        {{'sidebar.motCles1' | translate }}<br/>
        {{'sidebar.motCles2' | translate }} <br/>
        {{'sidebar.motCles3' | translate }} <br/>
        {{'sidebar.motCles4' | translate }} <br/>
        {{'sidebar.motCles5' | translate }}

      </div>
    </div>
  </div>
</div>


