<div class="site-wrap">


  <div class="textHeader">
      <div [innerHTML]="'facultes.ufr.institut' | translate"> </div>
      <div [innerHTML]="'facultes.ufr.institut.text' | translate"></div>
      
        <!-- <p class="texte70">Les 5 UFR et instituts de l’Université de Touba couvrent la plupart des domaines du savoir, des études islamiques en passant par les sciences , la technologie et la santé.</p> -->
    </div>


  <div class="container section">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/amphi_1000.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <u>
        <h1>
          {{ 'facultes.ufr.metiers' | translate }}
        </h1>
      </u>
        <div style="font-size: 18px; text-align: justify;" [innerHTML]="'facultes.ufr.metiers.text' | translate"></div>
    
         <div class="row">
          <div class="col">
            <span>
              <!-- Tel.: 333333333
              <br>Fax: 333333333
             <br> utouba@utouba -->
          </span>
          </div>
          <div class="col">
              <div class="link_wrapper">
                  <a [routerLink]="['/ufr','metiers-technologies']">{{ 'facultes.details' | translate }}</a>
                  <!-- <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                      <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                    </svg>
                  </div>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <div class="container section">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/restau_1.jpg" alt="" />
        </div>
        <div class="col-md-6">
          <u>
          <h2>
            {{ 'facultes.ufr.etudes.islamiques' | translate }}
          </h2>
          </u>
          <div class="row">
                      <div style="font-size: 18px; text-align: justify;" [innerHTML]="'facultes.ufr.etudes.islamiques.text' | translate"></div>

              <div class="col">
                <span>
                  <!-- Tel.: 333333333
                  <br>Fax: 333333333
                 <br> utouba@utouba -->
              </span>
              </div>
              <div class="col">
                  <div class="link_wrapper">
                      <a [routerLink]="['/ufr','islamique-arabe']">{{ 'facultes.details' | translate }}</a>
                      <!-- <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                          <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                        </svg>
                      </div> -->
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>


    <div class="container section">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/images/rectorat_1.jpg" alt="" />
          </div>
          <div class="col-md-6">
            <u>
              <h2>
                {{ 'facultes.ufr.science.agro' | translate }}
              </h2>
            </u>
                  <div class="row">
                    <div style="font-size: 18px; text-align: justify;" [innerHTML]="'facultes.ufr.science.agro.text' | translate"></div>

                      <div class="col">
                        <!-- <span>
                          Tel.: 333333333
                          <br>Fax: 333333333
                         <br> utouba@utouba
                      </span> -->

                      </div>
                      <div class="col">
                          <div class="link_wrapper">
                            <a [routerLink]="['/ufr','agronomie-alimentaire']">{{ 'facultes.details' | translate }}</a>
                            <!-- <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                                  <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                                </svg>
                              </div>
                            </div> -->
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>



  <div class="container section">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/salle_etudes.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <u>
          <h2>
            {{ 'facultes.ufr.institut.metier.sante' | translate }}
          </h2>
        </u>
        <div style="font-size: 18px; text-align: justify;" [innerHTML]="'facultes.ufr.institut.metier.sante.text' | translate"></div>
      </div>
    </div>
  </div>  


  <div class="container section">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/mediatheque.jpeg" alt="" />
      </div>
      <div class="col-md-6">
        <u>
          <h2>
            {{ 'facultes.ufr.institut.langue' | translate }}
          </h2>
        </u>
        <div style="font-size: 18px;" [innerHTML]="'facultes.ufr.institut.langue.text' | translate"></div>

      </div>
    </div>
  </div>

</div>


