<!--
<app-template [title]="'historique.title' | translate" [subtitle]="'historique.subtitle' | translate" [imageUrl]="imageUrl" [paragraph]="'historique.paragraph' | translate" [sideBarTitle]="sideBarTitle"></app-template>
-->

<body>
<div id="wrapper">
  <div class="card">
    <div class="card-body">
      <img src="/assets/images/ccak-logo-2.ico" alt="..."/>
      <h1 class="green-title-underlined">{{'universite.presentation.title' | translate}}</h1>
      <div class="prez-content" [innerHTML]="'universite.presentation.paragraphe' | translate">
      </div>
    </div>
  </div>
</div>

</body>
