
@mixin tablet-and-up {
  @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
  @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
  @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
  @media screen and (max-width: 600px) { @content; }
}

body {

  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

#wrapper {
  margin:10px auto;
  max-width: 80em;
  align-content: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  padding: 3rem 0;
}

h1{
  font-size: 1.1rem;
  font-family: sans-serif;
}

p{
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}

.green-title-underlined{
  color: #38674f;
  font-weight: bold;
  font-size: 35px;
  padding-top: 50px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #38674f;
  text-decoration-thickness: 4px;
  text-align:center;
}
.prez-content {
  padding: 22px 44px 21px 22px;
  border-radius: 36px;
  background-color: #f7f7f7;
  font-size: 16px;
  font-family: Arial;
}
