<div class="container">
    <form class="form-inline" (ngSubmit)="handleSubmit()">
        <input type="search" class="form-control"
            placeholder="Recherche" minlength="3"
            name="term" [(ngModel)]="term" (keyup)="handleKeyUp($event)" />
      </form>
      <hr />
      
      <!-- <div class="text-center">
        <p class="lead"
           *ngIf="loading">Loading...</p>
      </div> -->
      
      <div class="list-group" *ngIf="links.length > 0">
        <div class="card" *ngFor="let item of links">
            <h5 class="card-header"><a routerLink="/{{ item.link }}">{{ item.title }}</a></h5>
            <div class="card-body">
              <p class="card-text">mots clés : {{ item.keywords }}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        <!-- <a *ngFor="let link of links"
            routerLink="/{{ link.title }}"
            class="list-group-item list-group-item-action"
        >
          {{ link.title }} - mots clés : {{ link.keywords }}
        </a> -->
      </div>
    
      <!-- <div class="list-group">
        <a href="#"
           class="list-group-item list-group-item-action"
           *ngFor="let track of itunes.results">
          <img src="{{track.thumbnail}}">
          {{ track.name }} <span class="text-muted">by</span> {{ track.artist }}
        </a>
      </div> -->
</div>